<a href="https://colab.research.google.com/github/koborishun/shun-finance/blob/develop/howtouse_yahoo_finance_api2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install yahoo_finance_api2

Collecting yahoo_finance_api2
  Downloading yahoo_finance_api2-0.0.12.tar.gz (3.2 kB)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.7/dist-packages (from yahoo_finance_api2) (3.13)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from yahoo_finance_api2) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->yahoo_finance_api2) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->yahoo_finance_api2) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->yahoo_finance_api2) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->yahoo_finance_api2) (2.10)
Building wheels for collected packages: yahoo-finance-api2
  Building wheel for yahoo-finance-api2 (setup.py) ... done
  Created wheel for yahoo-finance-api2: filename=yahoo_finance_api2-0.0.12-py3-none-any.whl size=3731 sha256=df91e2500fc6501b80138e6af5f3dc98bcd086434947ec637115d8151165ec96
  Stored in directory: /root/.cache/pip/wheels/df/83/e1/df62dc96545acda58900be732f6eca5f34c84f28c9bd882f75
Successfully built yahoo-finance-api2
Installing collected packages: yahoo-finance-api2
Successfully installed yahoo-finance-api2-0.0.12

In [ ]:
import sys
from yahoo_finance_api2 import share
from yahoo_finance_api2.exceptions import YahooFinanceError
import pandas as pd
import datetime 
 
my_share = share.Share('3993.T')            #銘柄選択(例:日本株の場合=証券コード.T)
symbol_data = None
 
try:
    symbol_data = my_share.get_historical(
        share.PERIOD_TYPE_WEEK, 20,          #期間を選択
        share.FREQUENCY_TYPE_DAY, 1)        #足を選択(時間足、日足、週足、月足から選択可能)
except YahooFinanceError as e:
    print(e.message)
    sys.exit(1)
 
df = pd.DataFrame(symbol_data)              #DataFrameで二次元の表形式のデータに処理する※ここでsymbol_dataは辞書型になっている。イメージとしては辞書型のものを表にする感じ
df["datetime"] = pd.to_datetime(df.timestamp, unit="ms")    #datetimeカラムの追加。to_datetimeという関数はpandasのもの。unit="ms"はミリ秒まで表示。
#日本時間へ変換
df["datetime_JST"] = df["datetime"] + datetime.timedelta(hours=9)
df

,timestamp,open,high,low,close,volume,datetime,datetime_JST
0,1637280000000,2533.0,2710.0,2530.0,2682.0,1185100,2021-11-19 00:00:00,2021-11-19 09:00:00
1,1637539200000,2675.0,2800.0,2631.0,2743.0,816500,2021-11-22 00:00:00,2021-11-22 09:00:00
2,1637712000000,2713.0,2840.0,2691.0,2821.0,874500,2021-11-24 00:00:00,2021-11-24 09:00:00
3,1637798400000,2781.0,2820.0,2574.0,2581.0,872400,2021-11-25 00:00:00,2021-11-25 09:00:00
4,1637884800000,2553.0,2603.0,2460.0,2511.0,589300,2021-11-26 00:00:00,2021-11-26 09:00:00
...,...,...,...,...,...,...,...,...
89,1649030400000,2049.0,2156.0,2043.0,2149.0,327000,2022-04-04 00:00:00,2022-04-04 09:00:00
90,1649116800000,2220.0,2222.0,2135.0,2199.0,259100,2022-04-05 00:00:00,2022-04-05 09:00:00
91,1649203200000,2144.0,2188.0,2117.0,2131.0,214800,2022-04-06 00:00:00,2022-04-06 09:00:00
92,1649289600000,2095.0,2096.0,1995.0,1998.0,368700,2022-04-07 00:00:00,2022-04-07 09:00:00
93,1649398501000,2033.0,2109.0,2024.0,2094.0,266300,2022-04-08 06:15:01,2022-04-08 15:15:01